#### Borroto_Module1_MicroProject

In [70]:
from pathlib import Path
import math
import pandas as pd
import seaborn as sns
import statsmodels.graphics.api as smg
import matplotlib.pyplot as plt
from sklearn.metrics import pairwise
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, mean_squared_error
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor 
from pathlib import Path
import pandas as pd
import numpy as np
from scipy.spatial.distance import cosine
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from sklearn.metrics.pairwise import cosine_similarity
from pathlib import Path
import pandas as pd
import numpy as np
from pandas.plotting import parallel_coordinates
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
import matplotlib.pylab as plt
%matplotlib inline

In [71]:
dfraw = pd.read_csv("C:\\Users\\britt\\heart_disease.csv")

In [30]:
#Review df column names, non-null count and data types
dfraw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [32]:
#Verify there are no spaces in the coloumn names 
dfraw.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [44]:
# Remove any duplicate rows, if they exist
dfraw.drop_duplicates(inplace=True)
print("\nData after removing duplicates:")
print(dfraw.info())

Data after removing duplicates:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB
None

In [38]:
#reviewing the values of the df
print(dfraw)

     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]

In [39]:
#this method `describe` prints common statistics 
dfraw.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [72]:
#map the binary values of the datframe
dfraw["Sex"] = dfraw["Sex"].map({"M": 1, "F": 0})
print(dfraw)

     Age  Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40    1           ATA        140          289          0     Normal
1     49    0           NAP        160          180          0     Normal
2     37    1           ATA        130          283          0         ST
3     48    0           ASY        138          214          0     Normal
4     54    1           NAP        150          195          0     Normal
..   ...  ...           ...        ...          ...        ...        ...
913   45    1            TA        110          264          0     Normal
914   68    1           ASY        144          193          1     Normal
915   57    1           ASY        130          131          0     Normal
916   57    0           ATA        130          236          0        LVH
917   38    1           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]

In [73]:
#map the binary values of the datframe
dfraw["ExerciseAngina"] = dfraw["ExerciseAngina"].map({"Y": 1, "N": 0})
print(dfraw)

     Age  Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40    1           ATA        140          289          0     Normal
1     49    0           NAP        160          180          0     Normal
2     37    1           ATA        130          283          0         ST
3     48    0           ASY        138          214          0     Normal
4     54    1           NAP        150          195          0     Normal
..   ...  ...           ...        ...          ...        ...        ...
913   45    1            TA        110          264          0     Normal
914   68    1           ASY        144          193          1     Normal
915   57    1           ASY        130          131          0     Normal
916   57    0           ATA        130          236          0        LVH
917   38    1           NAP        138          175          0     Normal

     MaxHR  ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172               0      0.0       Up             0
1      156               0      1.0     Flat             1
2       98               0      0.0       Up             0
3      108               1      1.5     Flat             1
4      122               0      0.0       Up             0
..     ...             ...      ...      ...           ...
913    132               0      1.2     Flat             1
914    141               0      3.4     Flat             1
915    115               1      1.2     Flat             1
916    174               0      0.0     Flat             1
917    173               0      0.0       Up             0

[918 rows x 12 columns]

In [74]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [75]:
#map ChestPainType values
dfraw["ChestPainType"] = dfraw["ChestPainType"].map({"ASY": 1, "ATA": 0, "NAP": 0, "TA": 1})
print(dfraw)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40    1              0        140          289          0     Normal
1     49    0              0        160          180          0     Normal
2     37    1              0        130          283          0         ST
3     48    0              1        138          214          0     Normal
4     54    1              0        150          195          0     Normal
..   ...  ...            ...        ...          ...        ...        ...
913   45    1              1        110          264          0     Normal
914   68    1              1        144          193          1     Normal
915   57    1              1        130          131          0     Normal
916   57    0              0        130          236          0        LVH
917   38    1              0        138          175          0     Normal

     MaxHR  ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172               0      0.0       Up             0
1      156               0      1.0     Flat             1
2       98               0      0.0       Up             0
3      108               1      1.5     Flat             1
4      122               0      0.0       Up             0
..     ...             ...      ...      ...           ...
913    132               0      1.2     Flat             1
914    141               0      3.4     Flat             1
915    115               1      1.2     Flat             1
916    174               0      0.0     Flat             1
917    173               0      0.0       Up             0

[918 rows x 12 columns]

In [76]:
#map ST_Slope values
dfraw["ST_Slope"] = dfraw["ST_Slope"].map({"Down": 1, "Flat": 1, "Up": 0})
print(dfraw)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40    1              0        140          289          0     Normal
1     49    0              0        160          180          0     Normal
2     37    1              0        130          283          0         ST
3     48    0              1        138          214          0     Normal
4     54    1              0        150          195          0     Normal
..   ...  ...            ...        ...          ...        ...        ...
913   45    1              1        110          264          0     Normal
914   68    1              1        144          193          1     Normal
915   57    1              1        130          131          0     Normal
916   57    0              0        130          236          0        LVH
917   38    1              0        138          175          0     Normal

     MaxHR  ExerciseAngina  Oldpeak  ST_Slope  HeartDisease
0      172               0      0.0         0             0
1      156               0      1.0         1             1
2       98               0      0.0         0             0
3      108               1      1.5         1             1
4      122               0      0.0         0             0
..     ...             ...      ...       ...           ...
913    132               0      1.2         1             1
914    141               0      3.4         1             1
915    115               1      1.2         1             1
916    174               0      0.0         1             1
917    173               0      0.0         0             0

[918 rows x 12 columns]

In [77]:
#map AGE values 56 - 77 = 1 for Old or 28 - 55 = 0 for Young
dfraw["Age"] = dfraw["Age"].apply(lambda x: 0 if 28 <= x <= 55 else 1)
print(dfraw)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0      0    1              0        140          289          0     Normal
1      0    0              0        160          180          0     Normal
2      0    1              0        130          283          0         ST
3      0    0              1        138          214          0     Normal
4      0    1              0        150          195          0     Normal
..   ...  ...            ...        ...          ...        ...        ...
913    0    1              1        110          264          0     Normal
914    1    1              1        144          193          1     Normal
915    1    1              1        130          131          0     Normal
916    1    0              0        130          236          0        LVH
917    0    1              0        138          175          0     Normal

     MaxHR  ExerciseAngina  Oldpeak  ST_Slope  HeartDisease
0      172               0      0.0         0             0
1      156               0      1.0         1             1
2       98               0      0.0         0             0
3      108               1      1.5         1             1
4      122               0      0.0         0             0
..     ...             ...      ...       ...           ...
913    132               0      1.2         1             1
914    141               0      3.4         1             1
915    115               1      1.2         1             1
916    174               0      0.0         1             1
917    173               0      0.0         0             0

[918 rows x 12 columns]

In [78]:
#map Cholesterol ranges from 0- 240 = 0 for normal 241 - 603 = 1 for high
dfraw["Cholesterol"] = dfraw["Cholesterol"].apply(lambda x: 0 if 0 <= x <= 240 else 1)
print(dfraw)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0      0    1              0        140            1          0     Normal
1      0    0              0        160            0          0     Normal
2      0    1              0        130            1          0         ST
3      0    0              1        138            0          0     Normal
4      0    1              0        150            0          0     Normal
..   ...  ...            ...        ...          ...        ...        ...
913    0    1              1        110            1          0     Normal
914    1    1              1        144            0          1     Normal
915    1    1              1        130            0          0     Normal
916    1    0              0        130            0          0        LVH
917    0    1              0        138            0          0     Normal

     MaxHR  ExerciseAngina  Oldpeak  ST_Slope  HeartDisease
0      172               0      0.0         0             0
1      156               0      1.0         1             1
2       98               0      0.0         0             0
3      108               1      1.5         1             1
4      122               0      0.0         0             0
..     ...             ...      ...       ...           ...
913    132               0      1.2         1             1
914    141               0      3.4         1             1
915    115               1      1.2         1             1
916    174               0      0.0         1             1
917    173               0      0.0         0             0

[918 rows x 12 columns]

In [79]:
#map RestingBP ranges from 0- 130 = 0 for normal 131 - 200 = 1 for high
dfraw["RestingBP"] = dfraw["RestingBP"].apply(lambda x: 0 if 0 <= x <= 130 else 1)
print(dfraw)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0      0    1              0          1            1          0     Normal
1      0    0              0          1            0          0     Normal
2      0    1              0          0            1          0         ST
3      0    0              1          1            0          0     Normal
4      0    1              0          1            0          0     Normal
..   ...  ...            ...        ...          ...        ...        ...
913    0    1              1          0            1          0     Normal
914    1    1              1          1            0          1     Normal
915    1    1              1          0            0          0     Normal
916    1    0              0          0            0          0        LVH
917    0    1              0          1            0          0     Normal

     MaxHR  ExerciseAngina  Oldpeak  ST_Slope  HeartDisease
0      172               0      0.0         0             0
1      156               0      1.0         1             1
2       98               0      0.0         0             0
3      108               1      1.5         1             1
4      122               0      0.0         0             0
..     ...             ...      ...       ...           ...
913    132               0      1.2         1             1
914    141               0      3.4         1             1
915    115               1      1.2         1             1
916    174               0      0.0         1             1
917    173               0      0.0         0             0

[918 rows x 12 columns]